.toggle-button--taivas {

    $border-radius:     50%;
    $icon-bg:           #fff;
    $height:            20px;
    $label-width:       110px;
    $background-on:     #61B136;

    @media only screen and (max-width : 480px) {
        display: block;
        width: $label-width;
        margin: 0 auto 10px auto;
    }

    label {
        width: $label-width;
        height: $height;
        line-height: $height;
        transition: all 0.2s;
        
        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: $height + 10px;
            width: $label-width;
            transition: all 0.2s .1s ease-out;
        }

        &:before {
            content:attr(data-text);
        }
    }
    
    input:checked ~ .toggle-button__icon {
        &:before {
            animation: wave .7s ease-out;
        }
        &:after {
            opacity: 1;
            animation: zoomFadeIn .4s;
        }
    }

    .toggle-button__icon {
        position: absolute;
        left: 0;
        top: 0;
        height: $height;
        width: $height;
        border-radius: $border-radius;
        background: #fff;
        overflow: visible;
        box-shadow: inset 1px 1px 10px rgba(0,0,0,0.15);

        &:before,
        &:after {
            border-radius: $border-radius;
        }

        &:before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.8);
        }
        &:after  {
            top: 4px;
            left: 4px;
            width: 60%;
            height: 60%;
            background: $background-on;
            animation: zoomFadeOut .2s ease-out;
            opacity: 0;
            transition: none;
        }
        
    }

    &:hover {
        
        input:not(:checked) ~ .toggle-button__icon{
            animation: hover .2s;
        }
        input:not(:checked) ~ label{
            &:before {
                text-shadow: 0 1px 0 rgba(0,0,0,0.2);
            }
        }
    }

    @keyframes zoomFadeOut{
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes zoomFadeIn{
        0% {
            opacity: 0;
            transform: scale(3);
        }
        90% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes hover{
        0% {
            transform: scale(1);
        }
        30% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes wave{
        0% {
            opacity: 1;
            transform: scale(1);
        }
        40% {
            opacity: 0.2;
        }
        100% {
            opacity: 0;
            transform: scale(1.5);
        }
    }
}